body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;    }
  
    main {
    flex-grow: 1;
  }
  
    footer {
    background-color: #2193b0;
    color: white;
    padding: 15px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
  }
  