.navbar {
    width: 100%;
  }
  
  mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #2193b0;
    color: white;   }
  
  .spacer {
    flex: 1 1 auto;   }
  
  button {
    font-size: 16px;
  }
  