.features-section {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;padding: 0 20px;
  margin-bottom: 50px; }

.feature-card {
  width: 250px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  margin-bottom: 30px;
  position: relative;
}

.feature-card mat-card-title {
    font-size: 1.5rem;
    color: #2193b0;
}

.favourites-section {
    margin-top: 40px;
  }

.add-city-form {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: -100px;
}

.city-input {
  flex: 1;
  width: 350px;
}

.city-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-title {
  font-size: 1.5rem;
  color: #2193b0;
}

mat-card-content p {
  font-size: 1rem;
  color: #444;
}

button.mat-icon-button {
  margin: 0;
  padding: 0;
  font-size: 100px;
}

.add-city-form button {
  margin-top: -20px;
}

.delete {
 color: red;
 margin-left: 10px;
}

.delete {
  margin-left: 10px;
}

.delete-icon {
  font-size: 50px; 
}
