<div class="app-container">
  <!-- Background Image -->
  <div class="background-img">
    <img src="/background2.jpg" alt="Background Image" />
  </div>

  <!-- Main Content Section -->
  <div class="home-container">
    <!-- Hero Section -->
    <div class="hero-section">
      <mat-card class="hero-card">
        <mat-card-title class="hero-title">Welcome to the Weather App</mat-card-title>
        <mat-card-content class="hero-content">
          <p>
            Stay updated with real-time weather data. Plan your day better with accurate and timely weather information from around the world.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- Features Section -->
    <div class="features-section">
      <mat-card class="feature-card">
        <mat-card-title>Real-Time Data</mat-card-title>
        <mat-card-content>
          <p>Access up-to-the-minute weather data, wherever you are.</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="feature-card">
        <mat-card-title>Weather Forecast</mat-card-title>
        <mat-card-content>
          <p>Get accurate weather predictions for the upcoming days.</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="feature-card">
        <mat-card-title>Add your favourites</mat-card-title>
        <mat-card-content>
          <p>Add up to 5 of your favorite cities to get real-time updates.</p>
        </mat-card-content>
      </mat-card>
    </div>

    <app-search-ndcards></app-search-ndcards>

  </div>
</div>